body {
	color: gray;
	font-size: 87.5%; /* Base font size is 14px */
	font-family: Helvetica, sans-serif;
	line-height: 1.4;
	text-align: left;
	background: #f8f8f8;
}

.body {	
	margin: 0 auto;
	margin-top: 70px;
	width: 840px;
	clear: both;
}

